
<%- include('partials/header'); -%>

<section class="first-section" id="first-section">
  <div class="container text-container">
    <h1>WatchWise!</h1>
    <p>Your Voice Matters! Contribute to the Movie Discussions.</p>
    <a href="/posting" class="button-link">Get Started</a>
  </div>
  <div class="container img-container">
    <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/11/john-wick-1668095706.jpg" alt="movie poster">
  </div>
</section>

<!-- SECOND SECTION -->

<section class="second-section" id="second-section">
  <div class="container">
    <h2>Trending Movies</h2>
    <div class="review-container">
      <div class="review-item">
        <img src="https://www.hollywoodreporter.com/wp-content/uploads/2014/09/interstellar_poster_0.jpg?w=2000&h=1126&crop=1" alt="interstellar poster">
        <p>Interstellar</p>
      </div>
      <div class="review-item">
        <img src="https://ichef.bbci.co.uk/images/ic/1200x675/p08my9nx.jpg" alt="The Railway Man">
        <p>The Railway Man</p>
      </div>
      <div class="review-item">
        <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/11/john-wick-1668095706.jpg" alt="John Wick 4 poster">
        <p>John Wick 4</p>
      </div>
    </div>
    <div class="review-container">
      <div class="review-item">
        <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/26677df38123a3a1553d704477c100af81b641e1d539bc1991f99f89935f18b0._UY500_UX667_RI_TTW_.jpg" alt="Inception poster">
        <p>Inception</p>
      </div>
      <div class="review-item">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg0MDMxMzU3MF5BMl5BanBnXkFtZTgwMTU2MTQ4MjE@._V1_QL75_UX500_CR0,47,500,281_.jpg" alt="The Shutter Island poster">
        <p>The Shutter Island</p>
      </div>
      <div class="review-item">
        <img src="https://cdn.theatlantic.com/thumbor/utCGRSJPEy23uD8ZWpuffNTjf_w=/0x0:4800x2700/1600x900/media/img/mt/2023/04/succession_ep_6_hr/original.jpg" alt="Succession poster">
        <p>Succession</p>
      </div>
    </div>
  </div>
</section>

<!-- THIRD SECTION -->

<section class="third-section" id="th-sn">
  <div class="container post-container">
    <h2>Post Your Reviews here!</h2>
    <div>
      <h3>Make Your Mark in the World of Film Reviews!</h3>
      <p>What did this movie make you feel?</p><br>
      <a href="/posting">
        <button type="button">POST</button>
      </a>
    </div>
  </div>
</section>

<%- include('partials/footer'); -%>